body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    background: white;
    padding: 15px;
    width: 40%;
    margin: auto;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 8px 15px;
    margin: 5px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    margin: 20px auto;
    width: 70%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #007bff;
    color: white;
}

a {
    color: red;
    text-decoration: none;
}